.system{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.map{
  width: 200px;
  height: 200px;
  background-image: url('https://thumbs.dreamstime.com/b/simple-cartoon-style-world-map-stylized-silhouette-modern-minimal-isolated-vector-illustration-200692461.jpg');
  box-shadow: inset 5px 20px 50px 2px rgb(29, 88, 109);
  border-radius: 100%;
  background-size: 350px;
  animation: spin 5s infinite linear;
  transform: rotate(-23.5deg);
  z-index: 2;
}
.moon{
    height: 3rem;
    width: 3rem;
    background-color: rgb(224, 227, 221);
    border-radius: 100%;
    animation: moon-orbit 7s linear infinite;
    box-shadow: inset 5px 20px 50px 2px rgb(180, 191, 195);
    position: absolute;
    z-index: 1;
    margin-right:450px;
}

.spots-1{
    border-radius: 100%;
    height:0.5rem;
    width: 0.5rem;
    margin-top: 1rem;
    margin-left:0.5rem;
    background-color: rgb(157, 165, 172);
}
.spots-2{
    border-radius: 100%;
    height:0.6rem;
    width: 0.6rem;
    margin-top: 0.5rem;
    margin-left:0.8rem;
    background-color: rgb(157, 165, 172);
}
.spots-3{
    border-radius: 100%;
    height:0.4rem;
    width: 0.4rem;
    margin-top: -1rem;
    margin-left:2rem;
    background-color: rgb(157, 165, 172);
}

@keyframes spin{
  0% {
    background-position-x: 0
  }
  100% {
    background-position-x: 350px
  }
}

@keyframes moon-orbit {
    0%{
      transform: translate(0px) translateY(-50px);
    }
    25% {
      transform: translate(250px)  scale(0.4);
      z-index: 1;
    }
    50% {
      transform: translate(500px) translateY(50px);
    }
    75% {
      transform: translate(250px) scale(1.6);
      z-index: 3;
    }
    100% {
        transform: translate(0px) translateY(-50px);
    }
  } 
