.uni-page-container{
    background-color: #FFC15E;
    margin-top: 2.6rem;
    border-bottom: 2px solid #3D405B;
    border-top: 2px solid #3D405B;
    border-radius: 1%;
}
.uni-projects-row{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.uni-box{
    height: 5rem; width: 10rem;
    margin:auto;
    margin-top: 1rem;
    border: 2px solid #3D405B;
    border-radius: 5%;
    font-size: 1rem;
    font-family: monospace;
}
.uni-project-display{
    height: 25rem; width: 45rem;
    margin:auto;
    margin-top: 3rem;
    border: 2px solid #3D405B;
    border-radius: 3%;
    background-color: azure;
}
.uni-box:hover {
    background-color: #D81E5B; color:white
}
.atomActive{
    background-color: #D81E5B; color:white
}
.solarActive {
    background-color: #D81E5B; color:white
}
.astroActive {
    background-color: #D81E5B; color:white
}
.spectroActive {
    background-color: #D81E5B; color:white
}
.magnetActive {
    background-color: #D81E5B; color:white
}

.uni-off-button{
    height: 3rem; width:3rem;
    margin-left: 90%;
    margin-top:0.5rem;
    padding-top: 0.7rem;
    border: 1px solid #3D405B;
    background-color: red;
    border-radius: 100%;
    color: white;
    font-weight: bold;
}
.uni-off-button:hover{
    cursor:pointer;
}

@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {

    .uni-page-container{
        width:100%;
        margin-top: 0;
        overflow: hidden;
        padding-bottom: 2rem;
    }
    .uni-project-display{
        width: 100%;
        margin: auto;
    }
    .uni-box{
        width: 6rem;
        margin: auto;
        color: black;
    }

    .uni-projects-row{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: auto;
        position: relative;
    }
    .uni-off-button{
        position: absolute;
        right:3rem;
        top:16rem;
    }
}