.spectro-page-body{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.spec-img {
    width: 640px;
    height: 480px;
    border-radius: 8px;
}
.spec-img1 {
    width: 640px;
    height: 640px;
    border-radius: 8px;
}
.spec-img2 {
    width: 640px;
    height: 350px;
    border-radius: 8px;
}

.spectro-list-wrapper {
    margin: auto;
    max-width: fit-content;
    text-align: left;
    font-size: 1rem;
}

@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {

    .spec-img{
        width: 100%;
    }
    .spec-img1{
        width: 100%;
    }
    .spec-img2{
        width: 100%;
    }
    .ending-text-spectro{
        margin-bottom: 5rem;
    }

}