.atom-trap-body{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.atom-videos {
    width: 640px;
    height: 480px;
    object-fit: cover;
    border-radius: 5px;
}
.square-mesh-container{
    overflow:hidden;
    display:block;
}
#square-mesh-video{
    margin-top:-20px;
}

@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {

    .atom-img{
        width: 100%;
    }
    .atom-videos{
        width: 100%;
    }
}