.oftb-img{
    width:750px;
    border-radius: 1%;
}


@media only screen

and (min-device-width: 375px)

and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {

    .oftb-img{
        width: 100%;
    }
    .argentina-block{
        margin-bottom: 4rem;
    }

}